.btn-create_food {
  width: 90%;
  display: flex;
  justify-content: end;
  margin: 30px auto 0 auto;
}

.btn-create_food button {
  background-color: var(--color-text);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.table-food {
  overflow-y: scroll;
  max-height: 70vh;
  width: 90%;
  margin: 10px auto 0 auto;
  border: 1px solid var(--color-text);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: var(--color-text);
  color: white;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

thead tr {
  padding: 12px 15px;
}

thead td {
  padding: 12px 15px;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}

tbody td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

tbody tr:hover td {
  color: var(--color-text);
}

thead tr:hover {
  background-color: var(--color-text);
  color: white;
}

tr, td {
  text-align: center;
  vertical-align: middle;
}

.fa-trash-can, .fa-image, .fa-pen-to-square {
  color: var(--color-text);
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.3s ease;
}

.fa-trash-can:hover, .fa-image:hover, .fa-pen-to-square:hover {
  transform: scale(1.1);
}

.model {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-image img {
  max-width: 500px;
  min-width: 300px;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
}

.model .fa-xmark {
  position: fixed;
  right: 50px;
  top: 100px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.hide {
  display: none;
}

