table {
  width: 90%;
  margin: 40px auto 0 auto;
  border-collapse: collapse;
  border: 1px solid var(--color-text);
}

thead {
  background-color: var(--color-text);
  color: white;
  font-weight: bold;
}

td {
  padding: 8px;
}

.fa-pen-to-square,
.fa-trash-can {
  color: var(--color-text);
  cursor: pointer;
}

tfoot td input {
  border: 1px solid var(--color-text);
  outline: none;
  width: 80%;
  padding: 5px;
}

tfoot td:last-child {
  color: var(--color-text);
  font-size: 30px;
  cursor: pointer;
}